* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gerador {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    border: 0.1rem solid #000;
    box-shadow: 0 0 5rem rgba(255, 255, 255, 0.5);

    & h1 {
        margin-bottom: 1rem;
    }

    & label {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }

    & #maximo {
        width: 5rem;
        font-size: 1.2rem;
        padding: 0.3rem;
        margin-bottom: 1rem;
        text-align: center;
        border-radius: 0.3rem;
        border: 1px solid #ccc;
        margin-right: 0.5rem;
    }

    & #numero {
        font-size: 8rem;
        margin-bottom: 1rem;
        display: block;
        color: #000;
    }

    & #botao {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.s;

        &:hover {
            background-color: #333;
        }
    }
}
